.card-holder-cont {
  background: #ffffff;
  border-radius: 5px;
  overflow: scroll;
  height: 350px;
  width: 800px;
  padding: 0px 40px 40px 40px;
}

.card-holder-cont h4 {
  margin-top: 40px;
  display: inline-block;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-gray);
}

.card-holder-cont span {
  display: inline-block;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #7387a2;
}

.card-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-holder .admin-card {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  margin: 0px;
  background: #fff;
  align-items: center;
  padding: 35px 35px 35px 0px;
}

.card-holder .admin-card .card-profile-image {
  width: 77px;
  height: 77px;
  margin-right: 34px;
  background: #efefef;
  border-radius: 100%;
}

.card-holder .admin-card .card-name {
  margin-right: auto;
}

.card-holder .admin-card .card-name h3 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #24364d;
}

.card-holder .admin-card .card-tags {
  display: flex;
  margin-top: 12px;
  width: 200px;
}

.invite-button {
  width: 108px;
  margin: 35px;
  height: 30px;
}

.card-holder .admin-card .card-button {
  background-color: black;
  color: white;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.card-holder .admin-card h3 {
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

.dash-admin {
  display: flex;
  justify-content: center;
}

.dash-admin h3 {
  margin-top: 45px;
  margin-bottom: 17px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #7387a2;
}
