.container {
  height: 800px;
  width: 1050px;
}

.admin-holder {
  background: white;
  border-radius: 5px;
  overflow: scroll;
  padding: 10px 40px 40px 40px;
  height: 100%;
}

.card-holder-cont h4 {
  margin-top: 40px;
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-gray);
}

.card-holder-cont span {
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-gray);
}

.admin-card-holder {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.admin-card-holder .admin-card {
  margin: 0px;
  width: 250px;
  background: white;
  align-items: center;
  padding: 0 30px 30px 30px;
  margin-bottom: 30px;
  border: var(--pp-selected-gray) solid 1px;
  border-radius: 5px;
}

.admin-card-holder .admin-card .card-name {
  margin-right: auto;
}

.admin-card-holder .admin-card .card-name h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: var(--pp-black);
}

.admin-card-holder .admin-card .card-tags {
  display: flex;
  margin-top: 12px;
  width: 200px;
  white-space: nowrap;
}

.invite-button {
  width: 108px;
  margin: 1.33rem 0;
  height: 30px;
}

.admin-card-holder .admin-card .card-button {
  margin-top: 35px;
  height: 30px;
  transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: var(--pp-black);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
}

.card-holder .admin-card h3 {
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

.dash-admin {
  display: flex;
  justify-content: center;
}

.dash-admin h3 {
  margin-top: 45px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-gray);
}

.admin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  width: 845px;
  height: 480px;
}

.admin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.1);
}

.admin-modal h3 {
  margin-top: 46px;
  margin-left: 58px;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #395578;
}

.admin-invite-form {
  padding-left: 60px;
  display: flex;
}

.admin-invite-form-row {
  display: flex;
}

.admin-invite-form-row div:nth-child(1) {
  padding-right: 13px;
}

.admin-invite-form label,
p {
  display: flex;
  flex-direction: column;
  width: 361px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--pp-gray);
}

.admin-invite-form-input {
  background: var(--pp-light-gray);
  height: 39px;
  border: 0px;
  padding-left: 14px;
  margin-top: 8px;
  border-radius: 2.5px;
}

.admin-project-group {
  background: var(--pp-light-gray);
  height: 39px;
  display: flex;
  justify-content: center;
  padding-left: 14px;
  margin-top: 0px;
  width: 347px;
  border-radius: 2.5px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.admin-invite-form-submit {
  width: 161px;
  height: 33px;
  background: var(--pp-pink);
  border-radius: 40px;
  border: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: white;
  margin-bottom: 10px;
  margin-top: 60px;
}

.admin-invite-form-required-flag {
  color: var(--pp-pink);
  margin-left: 3px;
}

.admin-invite-form-label-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px !important;
}

.admin-invite-form-row-submit {
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.status-text {
  text-align: center;
  margin: 0px;
}

.super-admin-link {
  margin-top: 30px;
  background-color: var(--pp-yellow);
  padding: 7px 15px 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-weight: 12px;
}

.justify-content-space {
  justify-content: space-between;
}

.pb-5 {
  padding-bottom: 10px;
}

.admin-number {
  font-size: 18px;
  color: var(--pp-gray);
}

.admin-members-text {
  font-size: 18px;
  color: var(--pp-blue);
}

.member-since-text {
  margin-top: 40px;
  font-size: 12px;
  color: var(--pp-black);
}

.pp-tag-general {
  background: var(--pp-light-green);
}

.pp-tag-admin {
  background: var(--pp-light-pink);
}

.pp-tag-subscriber {
  background: var(--pp-light-yellow);
}

.invite-success-modal {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.invite-success-container {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invite-success-icon {
  margin: 0 auto;
}

.invite-success-title {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: var(--pp-pink);
}

.invite-success-description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--pp-black);
}

.invite-success-name {
  font-weight: bold;
}

.invite-success-button {
  font-size: 16px;
  line-height: 22px;
  background-color: var(--pp-blue);
  border-radius: 40px;
  color: var(--pp-white);
  margin-top: 40px;
  margin: 40px auto 0 auto;
  padding: 5px 20px;
  width: 39px;
  height: 22px;
}
