.all-bills-outer-container {
  margin: 0.8em auto;
  width: 75%;
}

h3 {
  font-size: 36px;
  font-weight: bolder;
}

.all-bills-header {
  font-weight: bolder;
  color: #4f4f4f;
}

.all-bills-cards-holder {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
