@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia-Pro-Regular'),
    url('../assets/fonts/Sofia-Pro-Regular.otf') format('opentype');
}

/* UNCOMMENT below for other styles of Sofia Pro */
/* @font-face {
  font-family: 'Sofia Pro';
  font-weight: bold;
  src: local('Sofia-Pro-Medium'), url('../assets/fonts/Sofia-Pro-Medium.otf') format('opentype');
} */

/* @font-face {
  font-family: 'Sofia Pro';
  font-weight: bold;
  src: local('Sofia-Pro-Bold'), url('../assets/fonts/Sofia-Pro-Bold.otf') format('opentype');
} */

/* @font-face {
  font-family: 'Sofia Pro';
  font-weight: bolder;
  src: local('Sofia-Pro-Black'), url('../assets/fonts/Sofia-Pro-Black.otf') format('opentype');
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100%;
  background-color: var(--pp-bg-white);
  margin: 0;
  font-family: 'Avenir', 'Sofia Pro', -apple-system, BlinkMacSystemFont,
    'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styling for the main wrapper of the application */
.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--pp-bg-blue);
}

/* A global css style that sets the margin of the left gutter. */
.cont {
  margin-left: 170px;
  margin-right: 170px;
}

/* A global css style that sets the styles of the different pages */
.dashboard {
  width: 100%;
  display: flex;
  height: calc(100% - 104px);
  justify-content: center;
}

.feedback-button-fixed {
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 4vh;
  font-weight: normal;
  color: var(--pp-medium-gray);
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  margin-right: 2vw;
  margin-bottom: 4vh;
  bottom: 0;
  right: 0;
  position: fixed;

  -webkit-box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray); /* Firefox 3.5 - 3.6 */
  box-shadow: 0.1vh 0.1vh 1vh 0.1vh var(--pp-tag-gray);

  transition: width 0.2s ease-out;
}

.feedback-button-fixed:hover {
  background-color: var(--pp-bg-blue);
  width: 19vh;
  border-radius: 22.5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--pp-black);
}
