.App-logo {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 40vmin;
}

body {
  background-color: #efefef;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  height: 100%;
}

/* Styling for the main wrapper of the application */
.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f8fa;
}

/* A global css style that sets the margin of the left gutter. */
.cont {
  margin-left: 170px;
}

/* A global css style that sets the styles of the different pages */
.dashboard {
  width: 100%;
  display: flex;
  height: calc(100% - 104px);
  justify-content: center;
}
