.bill-card {
  background-color: gray;
  border-radius: 4px;
  margin: 0.5em;
  padding: 1em;
}

.bill-button {
  background-color: black;
  color: white;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}
