.community {
  margin-left: 250px;
}

.community h1 {
  color: black;
  font-size: 36px;
}

.community p {
  color: black;
}

.community .card {
  background: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 0px;
  width: 675px;
  display: flex;
  justify-content: space-between;
}

.community .card h2 {
  font-size: 28px;
}
.community .card h2,
h3 {
  color: black;
  margin: 5px 0px;
}
