.community .cont {
  margin: 0px;
}

.community h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  color: var(--pp-blue);
}

.community p {
  color: var(--pp-black);
}

.announcementCard {
  background: white;
  border-radius: 5px;
  padding: 35px;
  margin: 10px 0px;
  width: 652px;
  display: flex;
  justify-content: space-between;
}

.announcementCard p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: var(--pp-black);
}

.announcementCard:first-of-type {
  margin-top: 0px;
}

.announcementCard h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--pp-blue);
}

.community .announcementCard h2,
h3 {
  margin: 5px 0px;
}

.announcementCard img {
  clip-path: inset(20px 0px);
  width: 100%;
}

.announcementCardsCont {
  overflow: scroll;
  height: 350px;
}

.nonAdminHeight {
  height: 500px !important;
}

.community .cont .AddAnnouncement {
  display: block;
}

.community .cont .AddAnnouncement form {
  width: 100%;
}

.community .cont .AddAnnouncement form textarea {
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  font-size: 16px;
}

.community .cont .AddAnnouncement form input {
  font-size: 16px;
  border: none;
  background: var(--pp-white);
  border-radius: 2.5px;
  width: 60px;
  height: 30px;
  outline: none;
  float: right;
}

.community .cont .AddAnnouncement form .btn-success {
  background: green;
}

.community .cont .AddAnnouncement form .btn-fail {
  background: red;
}

.community .cont .AddAnnouncement p {
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--pp-white);
}
