.prod-equivalencies-sub-container {
  background: var(--pp-bg-blue);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.prod-equivalencies-sub-container p {
  background: var(--pp-bg-blue);
  margin: 0;
  display: flex;
}

.prod-chart-container-inner {
  display: flex;
}

.prod-chart-container {
  display: block;
}
.prod-equivalencies-sub-left {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
}
.prod-equivalencies-sub-right {
  font-size: 12px;
  padding: 6px 8px;
  color: white;
  font-weight: 400;
  width: 140px;
  transition: background-color 0.6s ease-in-out;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.prod-equivalencies-sub-right-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod-equivalencies-sub-pink {
  background-color: var(--pp-pink);
}

.prod-equivalencies-sub-green {
  background-color: var(--pp-green);
}

.prod-equivalencies-sub-yellow {
  background-color: var(--pp-yellow);
}

.prod-equivalencies-sub-amt-energy {
  background-color: var(--pp-blue);
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 2px;
  padding: 4px;
  padding-bottom: 2px;
  display: inline-flex;
  color: white;
}

.prod-equivalencies-sub-amt-energy-num {
  font-weight: 600;
  margin-right: 3px;
}

.prod-equivalencies-sub-amt {
  font-size: 18px;
  font-weight: 600;
}
.prod-equivalencies-sub-icon {
  width: 60px;
  height: 60px;
}
.prod-equivalencies-sub-text {
  width: 134px;
  margin-bottom: 3px;
}
