/*
  Is setthe height of the component this way good practice? 
  How am i supposed to set the height of the screen otherwise? 
  Setting height 100% pushes the div below the fold due to the nav taking up room. 
*/

.is-loading-div {
  height: 200px;
  border-radius: 5px;
  background: white;
}

.dashboard .dash-solar-details-cont,
.dash-announcements-cont {
  margin-top: 45px;
}

.dash-solar-details {
  background: white;
  padding: 20px 20px;
  border-radius: 5px;
}

.dash-solar-details-cont h3,
.dash-announcements-cont h3 {
  margin-bottom: 23px;
  margin-top: 0px;
  color: var(--pp-gray);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}

.header-button {
  display: flex;
}

.header-only {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.header-button h3 {
  display: flex;
  justify-content: flex-start;
}

.right-button {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.dash-investment-cont h3 {
  margin-bottom: 23px;
  color: var(--pp-gray);
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}

.dash-investment-cont {
  margin: 32px 35px auto 35px;
}

.dash-investment-details-cont {
  background: white;
  padding: 20px 20px;
  border-radius: 5px;
  height: 100px;
}

.right-arrow-button {
  width: 4vh;
}

.right-arrow-button:hover {
  opacity: 0.8;
}

.left-arrow-button {
  width: 4vh;
}

.left-arrow-button:hover {
  opacity: 0.8;
}

.dash-solar-details h3 {
  color: var(--pp-blue);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}
