.cont {
  margin-left: 60px;
}

div p,
h3 {
  color: white;
}

.dashboardCont {
  width: 100%;
}

.userInfoCont h2,
p,
ul {
  padding-left: 30px;
  color: white;
}

.userInfoCont li {
  margin-left: 30px;
}
