.investments-card-box-shares {
  background: white;
  border-radius: 5px;
  padding: 35px;
  margin-left: 0px;
  margin-right: 20px;
  width: 450px;
  height: 80px;
  display: flex;
  align-content: flex-start;
}

.investments-card-circle-progress-bar {
  display: flex;
  align-content: flex-start;
  margin-left: -75px;
  margin-right: -45px;
  justify-content: flex-start;
  transform: scale(0.9);
}

.investments-card-box-text {
  margin-right: 10px;
}

.investments-card-box-text h4 {
  font-size: 18px;
  font-weight: bolder;
  font-weight: normal;
  line-height: 22px;
  margin-block-start: 0em;
}

.investments-card-box-text h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--pp-black);
  font-weight: normal;
}

.investments-card-dividend {
  margin-top: 15px;
  justify-content: center;
  align-content: center;
}

.investments-card-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: -10px;
}

.investments-card-buy-shares-button {
  justify-content: center;
  font-weight: normal;
}

.investments-card-buy-shares-button a {
  padding: 5px 0px;
  font-weight: 800;
}

.investments-card-buy-shares-button a {
  background-color: var(--pp-pink);
  border-radius: 2.5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}

.investments-card-buy-shares-button.disabled a {
  background-color: var(--pp-gray);
}
