.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: white;
  padding: 4rem 1.5rem;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.login-header {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.t-center {
  text-align: center;
}

w-100 {
  width: 100%;
}

.login-hyperlink {
  border: none;
  font-size: 12px;
  color: var(--pp-link-gray);
  margin-bottom: 0.5rem;
}

.login-hyperlink-group {
  margin-top: 1rem;
}

.login-input-mb {
  margin-bottom: 1rem;
}

.login-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--pp-gray);
  font-weight: 500;
}

.login-button {
  padding: 0.3rem 1rem;
  margin-top: 2rem;
  width: 50%;
}

.error-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.mt-15 {
  margin-top: 1.5rem;
}
.mr-1 {
  margin-right: 1rem;
}

.error-text {
  color: var(--pp-invalid);
  font-size: 14px;
}
