.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: white;
  padding: 4rem 1.5rem;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.header {
  padding-bottom: 50px;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.t-center {
  text-align: center;
}

w-100 {
  width: 100%;
}
