:root {
  --pp-blue: #395578;
  --pp-blue-gray: #7387a2;
  --pp-pink: #cd6795;
  --pp-light-pink: rgba(205, 103, 149, 0.3);
  --pp-medium-gray: #a1aab4;
  --pp-green: #62b16f;
  --pp-light-green: rgba(98, 177, 111, 0.3);
  --pp-yellow: #e0b64c;
  --pp-light-yellow: rgba(224, 182, 76, 0.3);
  --pp-black: #24364d;
  --pp-dark-gray: #3e4a59;
  --pp-white: #edf1f5;
  --pp-selected-gray: #a1aab4;
  --pp-light-gray: #f5f5f5;
  --pp-bg-white: #efefef;
  --pp-bg-blue: #f7f8fa;
  --pp-tag-gray: #d8d8d8;
  --pp-gray: #c4c4c4;
  --pp-link-gray: #8f8f8f;
  --pp-disabled: #9caabb; /* --pp-blue with opacity ??? */
  --pp-invalid: #cb4747;

  --pp-loading-spinner-speed: 2.5s;
}

.btn {
  transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: var(--pp-pink);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.btn--rounded {
  border-radius: 50px;
}

.btn--square {
  border-radius: 2.5px;
  font-size: 16px;
}

.btn--weight600 {
  font-weight: 600;
}

.btn--size16 {
  font-size: 16px;
}

.btn--size12 {
  font-size: 12px;
}

.btn--pink {
  background-color: var(--pp-pink);
  color: white;
}

.btn--pink:hover {
  box-shadow: 0px 4px 30px rgba(205, 103, 149, 0.3);
}

.btn--blue {
  background-color: var(--pp-blue);
  color: white;
}

.pp-tag {
  padding: 5px 10px;
  background: var(--pp-tag-gray);
  border-radius: 20px;
  margin: 0px 5px;
  font-size: 12px;
}

.asterisk {
  color: var(--pp-invalid);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
