.pp-general-modal-backdrop {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4); /*needed to apply opacity to just background*/
}

.pp-general-modal-content {
  position: absolute;
  margin: auto;
  top: 30%;
  left: 30%;
  right: 30%;
  border: 1px solid var(--pp-link-gray);
  width: 30rem;

  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.pp-general-modal-content:focus {
  outline: none;
}

.pp-general-modal-header {
  color: var(--pp-blue);
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2rem;
}

.pp-general-modal-body {
  color: var(--pp-black);
  font-weight: heavy;
  font-size: 18px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2rem;
  word-break: break-all;
  padding: 0 2rem;
}

.pp-general-modal-button {
  background: var(--pp-pink);
  border-radius: 40px;
  color: white;
  padding: 0.25rem 5rem;
  font-size: 16px;
  font-weight: 800;
}

.pp-general-close {
  display: none;
}
