/* Styling for our NavBar component */
.navBarCont {
  background: #ffffff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
}

nav {
  margin-top: 119px;
  height: 100%;
  text-align: left;
}

.logo {
  margin-top: 43px;
}

nav ul {
  height: 100%;
  list-style: none;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

nav li {
  margin: 35px 0px;
}

nav ul a,
span {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}
