.navBar {
  background: #ffffff;
  width: 100%;
  height: 104px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navBar nav {
  text-align: left;
  width: 100%;
}

.navBar .logo {
  margin-left: 47px;
}

.navBar nav ul {
  height: 100%;
  list-style: none;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
}

.navBar nav li {
  margin: 0px 40px;
}

.navBar nav ul a,
span {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}
