.nav-bar {
  background: white;
  width: 100%;
  height: 104px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-bar nav {
  text-align: left;
  width: 100%;
}

.nav-bar .logo {
  margin-left: 47px;
}

.nav-bar nav ul {
  height: 100%;
  list-style: none;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
}

.nav-bar nav li {
  margin: 0px 40px;
}

.nav-bar nav ul a,
span {
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

.nav-item a {
  color: var(--pp-blue);
}

.nav-item a:hover {
  opacity: 80%;
}

.nav-item-selected a {
  color: var(--pp-selected-gray);
}

.nav-item-gear {
  height: 3vh;
}

.nav-item-gear:hover {
  opacity: 80%;
}
