.b-is-valid {
  border-color: green;
}

.b-is-not-valid {
  border-color: red;
}
.mapWindow {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  z-index: 0;
}

.slider {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #000;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #000;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: #222;
}

.bottomButtons {
  margin-top: 20px;
  z-index: 2;
  display: flex;
  bottom: 0;
  position: absolute;
  top: 100vh;
  width: 75%;
}

.infoBox {
  background: white;
  color: black;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  width: 20%;
  height: 60%;
  margin-top: 40px;
  margin-left: 10px;
  right: 20%;
}
