.panel-bill-card {
  background-color: white;
  border-radius: 4px;
  padding: 0em 1em 1em 1em;
}

.latest-bill-card {
  background-color: white;
  border-radius: 4px;
  padding: 1.1em 1em 1em 1em;
}

.panel-bill-items {
  display: flex;
  flex: 1;
  height: 3em;
}

.panel-bill-items p {
  width: fit-content;
  height: fit-content;
}

.bill-button {
  background-color: black;
  color: white;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

.panel-statement-left {
  display: inline-block;
  color: #4f4f4f;
  flex: 1 1 20%;
  margin-left: 1.2em;
}

.panel-statement-middle {
  color: #4f4f4f;
  justify-content: center;
  flex: 1 1 10em;
}

.panel-statement-right {
  color: #4f4f4f;
  padding-left: 0em;
  flex: 1 1;
  margin-right: 1.2em;
}

.panel-description {
  font-weight: bold;
  flex: 1 1 35%;
  color: #4f4f4f;
}

.panel-bill-row {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
}

#TEMP-REMOVE-ME {
  border: 2px solid #efefef;
  width: 100%;
  margin: 0 auto;
}
