.payment-success-modal {
  max-width: 442px;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 132px;
  padding: 41px 48px 48px 48px;
  text-align: center;
}

.payment-success-redirect-button {
  padding: 6px 12px;
  display: block;
  text-align: center;
  margin: 17px auto;
  width: 206px;
  border-radius: 2.5px;
  text-decoration: none;
}

.payment-success-redirect-button:first-of-type {
  margin-top: 52px;
  background: var(--pp-blue);
  color: white;
}

.payment-success-modal div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto auto;
  width: 80%;
}

.payment-success-modal p {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 10px;
}

.payment-success-modal h3 {
  text-align: left;
  color: var(--pp-black);
  font-weight: 800;
  font-size: 16px;
  width: 100%;
}

.payment-success-modal h1 {
  color: var(--pp-pink);
  border-bottom: 1px solid var(--pp-white);
  padding-bottom: 38px;
  margin: 21px 30px 30px 38px;
}
