.all-bills-outer-container {
  margin: 0.8em auto;
  width: 75%;
}

.all-bills-header {
  font-weight: bolder;
  color: #4f4f4f;
}

.subscriber-back-button {
  background-color: Transparent;
  border: 0;
  color: #4f4f4f;
}

.subscriber-back-button-container {
  display: flex;
  margin: 2vw auto;
}

.subscriber-back-button-container:hover {
  color: #696969;
  cursor: pointer;
}

.subscriber-back-arrow {
  font-weight: bolder;
  font-size: 24px;
}

.subscriber-back-text {
  font-weight: bold;
  font-size: 16px;
  padding: 0vw 1vw;
}

.subscriber-all-bills-row {
  color: #4f4f4f;
  height: 60px;
  padding: 25px 30px;
}

.subscriber-all-bills-header {
  text-align: left;
  font-weight: bold;
}
