.left-col {
  flex: 1;
  margin-left: 0;
}

.right-col {
  flex: 2;
}

.col-card {
  background-color: white;
  height: 90%;
  border-radius: 4px;
}

h3 {
  font-size: 36px;
  font-weight: bolder;
}

.subscriber-header {
  font-weight: bolder;
  color: var(--pp-black);
}

.balance-header-section {
  margin: 0;
  padding: 1.2vw 1.8vw;
}

.balance-header-section h3 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}

.balance-header-section p {
  font-size: 12px;
  margin: 0.3vw 0.5vw;
  color: #a4a4a4;
}

#divider {
  border: 1px solid var(--pp-gray);
  width: 85%;
  margin: 0 auto 1.5vw auto;
}

.subscriber-header {
  font-weight: bolder;
  color: var(--pp-black);
}

.rt-custom-pp-style {
  height: 47vh;
  background-color: white;
  border-radius: 5px;
  border: none;
}

/* modifies react-table-v6 css */
.rt-tr-group {
  min-height: 60px;
}
