.dashboardCont {
  /* background-color: yellow; */
  margin: 0.8em auto;
  width: 75%;
}

h3 {
  font-size: 36px;
  font-weight: bolder;
}

.subscriber-header {
  font-weight: bolder;
  color: var(--pp-black);
}

div p {
}

.cards-holder {
  /* background-color: red; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
