.billing-dash-outer-container {
  margin: 0.8em auto;
  width: 75%;
  padding-top: 4vh;
}

.billing-dash-outer-container h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  color: var(--pp-blue);
}

.billing-dash-inner-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.billing-dash-col {
  margin: 1em;
}

.billing-left-col {
  flex: 1;
  width: 30%;
  margin-left: 0;
}

.billing-right-col {
  flex: 2;
}

.billing-right-duo-header {
  display: flex;
  flex: 1;
}

.billing-col-card {
  background-color: white;
  border-radius: 4px;
  height: 38vh;
}

.billing-balance-section {
  padding: 22px;
}
.billing-balance-nums-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 14px;
}

.line-item {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--pp-black);
}

.line-item-total {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--pp-black);
}

.line-item-value {
  text-align: right;
}

.billing-header {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: var(--pp-blue);
  margin-bottom: 20px;
}

.billing-balance-header-section h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 28px;
  color: var(--pp-blue);
}

.billing-balance-header-section p {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: var(--pp-blue);
}

.billing-all-billls-button {
  font-size: 24px;
  font-weight: bolder;
  background-color: Transparent;
  border: 0;
  color: var(--pp-black);
  float: right;
  margin-left: auto;
}

.billing-all-billls-button:hover {
  color: var(--pp-gray);
  cursor: pointer;
}

.billing-balance-divider-container {
  display: flex;
  justify-content: space-between;
}

.billing-full-width-container {
  width: 100%;
}

.billing-payment-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.billing-payment-button {
  padding: 8px;
  background-color: var(--pp-blue);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
}
#billing-divider {
  border: 1px solid var(--pp-light-gray);
  margin: 0 auto 1.5vw auto;
}
#balance-billing-divider {
  border: 1px solid var(--pp-light-gray);
  margin: 0 auto 1.5vw auto;
  width: 15%;
}

.billing-dashboard-paypal-component {
  padding: 1.5em;
}

.billing-bills-display-row {
  color: #24364d;
  height: 20px;
  padding: 15px 20px;
}

.billing-bills-display-header {
  text-align: left;
  height: 60px;
  color: #24364d;
  padding: 25px 20px;
  font-weight: bold;
}
