.row {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
}

.settings .cont {
  /*  width: 100%;*/
  margin: 0px;
}

.userIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: white;
  border-radius: 5px;
}

.generalForm {
  background: white;
  width: 500px;
  float: right;
  margin-left: 17px;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
}

.generalForm h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.inputFormCont h2,
h3,
label {
  color: black;
}

.generalForm input {
  float: right;
  width: 50%;
  border: 0px;
  font-size: 16px;
}

.generalForm input:focus {
  outline: none;
}

.contactInfoForm {
  background: white;
  float: right;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
  width: 100%;
  margin-bottom: 30px;
}

.contactInfoForm input {
  float: right;
  width: 50%;
  border: 0px;
  font-size: 16px;
}

.contactInfoForm input:focus {
  outline: none;
}

.form-success {
  background: var(--pp-green);
  border: 0px !important;
  color: white;
}

.form-fail {
  background: var(--pp-pink);
  border: 0px !important;
  color: white;
}
