.row {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
}
/* hello */
.settings .cont {
  /*  width: 100%;*/
  margin: 0px;
}

.settings-edit-disabled input {
  float: right;
  width: 50%;
  border: 0px;
  font-size: 16px;
}

.settings-edit-enabled input {
  float: right;
  width: 50%;
  font-size: 16px;
}

.settings-label {
  float: right;
  width: 50%;
  font-size: 16px;
}

.user-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: white;
  border-radius: 5px;
}

.general-form {
  background: white;
  width: 500px;
  float: right;
  margin-left: 17px;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
}

.general-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.general-form-header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.general-form-header button {
  padding-left: 20px;
  padding-right: 20px;
}

.contact-info-form {
  background: white;
  float: right;
  border-radius: 5px;
  font-size: 16px;
  padding: 32px;
  width: 100%;
  margin-bottom: 30px;
}

.contact-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-form-header h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-form-header button {
  padding-left: 20px;
  padding-right: 20px;
}

.form-success {
  background: var(--pp-green);
  border: 0px !important;
  color: white;
}

.form-fail {
  background: var(--pp-pink);
  border: 0px !important;
  color: white;
}
